@use "../../styles/variables" as v;

.auth-page-container {
    height: 100vh;
    padding: 0 !important;

    .page-content-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        overflow-x: hidden;

        @media (min-width: 992px) {
            flex-direction: row;

            .auth-form-side,
            .auth-form-main {
                width: 50%;
            }
        }

        .auth-form-side {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: v.$color2;
            width: 100%;
        }

        .auth-form-main {
            display: flex;
            flex-grow: 1;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .login-form-wrapper,
            .register-form-wrapper {
                max-width: 90%;
                width: 500px;
                margin-bottom: 40px;
            }

            .register-form-wrapper {
                // background-color: green;

                .form-input-group {
                    position: relative;
                    margin-bottom: 24px;

                    .user-input {
                        padding: 10px;
                        border-radius: 8px;
                    }

                    .form-feedback {
                        position: absolute;
                        bottom: -20px;
                        left: 0px;
                    }

                    .dropdown-item {
                        &:hover {
                            background-color: lightgray;
                        }
                    }

                    .dropdown-toggle {
                        padding: 10px;
                    }
                }
            }
        }
    }
}