// COLOR PALETTE
$color1: #149494;
$color2: #0f6363;
$color3: #fdf3e6;
$color4: #fad6ac;
$color5: #bcb8b8;
$color6: #f2f2f2;


$color-error-light: rgb(238, 50, 50);
$color-error-dark: #c80000;
$color-success-light: rgb(23, 153, 23);
$color-success-dark: #008000;
$color-warning-light: rgb(238, 188, 50);
$color-warning-dark: #c8a300;
$color-info-light: rgb(23, 105, 153);
$color-info-dark: #004d80;

$color-white: rgb(250, 250, 250);
$color-black: rgb(10, 10, 10);

// COLORS FOR BOOTSTRAP

// $primary: $color1;
// $secondary: $color2;
// $info: $color3;
// $warning: $color4;
// $success: $color5;
// $danger: $color7;

// $font-family-sans-serif: "Poppins";
// $navbar-nav-link-padding-x: "1rem";

// $navbar-light-color: $color2;
// $navbar-nav-link-color: $color2;
// $navbar-light-color: $color2;
// $navbar-light-hover-color: $color1;
// $navbar-light-active-color: $color1;
// $navbar-dark-color: $color1;
// $navbar-dark-hover-color: $color2;
// $navbar-dark-active-color: $color2;
// $nav-link-font-weight: 600;
// $border-radius: 0;
// $form-feedback-invalid-color: rgb(232, 63, 2);
// $form-feedback-valid-color :$color2-light;
// $form-range-thumb-bg: pink;
// $form-range-thumb-active-bg: red;
// $form-feedback-valid-color :$color2-light;
// $pagination-disabled-bg: $color2-light;
// $pagination-disabled-color: $color6;