// COLOR PALETTE
$color1: #149494;
$color2: #0f6363;
$color3: #c7f0f0;;
$color4: #bcb8b8;
$color5: #888888;
$color6: #f1f1f1;


$color-error-light: rgb(238, 50, 50);
$color-error-dark: #c80000;
$color-success-light: rgb(23, 153, 23);
$color-success-dark: #008000;
$color-warning-light: rgb(238, 188, 50);
$color-warning-dark: #c8a300;
$color-info-light: rgb(23, 105, 153);
$color-info-dark: #004d80;

$color-white: rgb(250, 250, 250);
$color-black: rgb(10, 10, 10);

// COLORS FOR BOOTSTRAP

$primary: $color1;
$info: $color-info-dark;
$warning: $color-warning-dark;
$success: $color-success-dark;
$danger: $color-error-dark;

$font-family-sans-serif: "Poppins";

$form-feedback-invalid-color: $color-error-light;
$form-feedback-valid-color :$color1;