@use "../../styles/variables.scss" as v;

.create-product-modal,
.edit-product-modal {
    .form-input-group {
        position: relative;
        margin-bottom: 24px;

        .user-input {
            padding: 10px;
            border-radius: 8px;
        }

        .form-feedback {
            position: absolute;
            bottom: -20px;
            left: 0px;
        }
    }
}