@use "../../styles/variables.scss" as v;

.form-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    pointer-events: none;

    img {
        width: 80px;
    }

    .form-title {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 80px;
        padding: 5px 0 15px 0;
        border-top: 1px solid v.$color-black;
        text-transform: uppercase;

        .text-with-spacing {
            letter-spacing: 4px;
        }
    }
}